{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
<form class="form-horizontal" action="{{ path('categoria_create') }}" method="post" {{ form_enctype(form) }}>
    <legend>Crear nueva categoría</legend>
    <div class="control-group">
        {{ form_widget(form) }}
    </div>
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Crear"/>
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('categoria') }}">Volver</a>
    </li>
</ul>
{% endblock %}
