<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MenUSACH - Tu comida a tiempo{% endblock %}</title>
        {% stylesheets '@MenUSACHBaseBundle/Resources/public/less/*' filter='less,?yui_css' %}

        <!-- Bootstrap CSS -->
        {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
        {% endstylesheets %}

        {% javascripts '@MenUSACHBaseBundle/Resources/public/js/*' filter='yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
        $(function() {
            $( "#menusach_bundle_basebundle_menutype_men_fecha_inicio" ).datepicker();
            $( "#menusach_bundle_basebundle_menutype_men_fecha_termino" ).datepicker();
        });
        </script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
    <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="."><img title="Inicio" src="{{ asset('bundles/menusachbase/img/logo.png') }}"></img></a>
          <div class="nav-collapse collapse">
            <ul class="nav nav-tabs" id="miMenu">
            	<li class="active"><a href="#inicio" data-toggle="tab">Inicio</a></li>
				{% block MenuRol %}
				{% endblock %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="content">
		<div class="container">
			<div class="tab-content">
				{% block body %}
				<div class="tab-pane active" id="inicio">
					<div class="hero-unit">
						{% block titulo %}
						<h2>MenUSACH</h2>
						{% endblock %}
						<h4><i>Tu comida a tiempo</i></h4>
						</br>
					</div> <!-- hero-unit -->
				</div> <!-- tab-pane active -->
		      		{% endblock %}
			</div> <!-- tab-content -->
       		</div> <!-- container -->
	</div> <!-- content -->
	<div id="push"></div>
</div><!-- wrap -->

<div id="footer">
	<div class="container">
		<div id="contFooter" class="container">
			<p id="leftFooter" class="muted">Proyecto MenUSACH<br />Desarrollo de Software II<br /> Licenciatura en Ciencia de la Computación</p>
			<img id="logoFooter" src="{{ asset('bundles/menusachbase/img/usach.png') }}" alt="ul" />
			<p id="rightFooter" class="muted credit">Departamento de Matemática y Ciencia de la Computación<br />
			Facultad de Ciencia<br />
			Universidad de Santiago de Chile</p>
		</div><!-- contFooter -->
	</div><!-- container -->
</div><!-- footer -->

        <!-- Bootstrap JS -->
        {% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
