{% extends '::base.html.twig' %}

{% block body %}
<form class="form-horizontal" action="{{ path('ingrediente_create') }}"
      method="post" {{ form_enctype(form) }}>
    <legend>Crear nuevo Ingrediente</legend>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('ingrediente') }}">
            Volver a la lista de ingredientes
        </a>
    </li>
</ul>
{% endblock %}