{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
{% block titulo %}
<h2>Crear Nuevo Ingrediente</h2>
{% endblock %}

<form action="{{ path('ingrediente_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('ingrediente') }}">Volver</a>
    </li>
</ul>
{% endblock %}