{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
{% block titulo %}
<h2>Actualizar Propietario</h2>
{% endblock %}
<form class="form-horizontal" action="{{ path('admin_prop_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button  class="btn btn-primary" type="submit">Actualizar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_prop') }}">Volver</a>
    </li>
</ul>
    
{% endblock %}