{% extends 'MenUSACHBaseBundle:Default:index.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Menús del día</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Local</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        {% if entity.men_activo == TRUE %}
        <tr>
            <td>{{ entity.men_nombre }}</td>
            <td>${{ entity.men_precio }}</td>
            <td>{{ entity.loc_nombre }}</td>
            <td>{{ entity.loc_ubicacion }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
