{% extends '::base.html.twig' %}
{% block MenuRol %}
<li><a href="{{ path('MenuMenUSACH') }}">Menu</a></li>
<li><a href="{{ path('ContactoMenUSACH') }}">Contacto</a></li>
{% endblock %}
{% block titulo %}
<h2>Panel de Propietario MenUSACH</h2>
{% endblock %}
